<div class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="w-1/2 bg-white p-6">

    <header class="mb-8 text-center">
      <h1 class="text-xl font-bold text-gray-800">My Todo List</h1>
      <p class="text-gray-500">Built with Angular 18 & Tailwind CSS</p>
    </header>

    <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="flex mb-6 gap-4 ">
      <input type="text" formControlName="title" placeholder="task.."
        class="flex-grow p-3 border-gray-300 border rounded focus:outline-none focus:ring-2 focus:ring-blue-300 transition"
      >
      <button type="submit" [disabled]="todoForm.invalid" class="bg-blue-600 text-white px-6 rounded hover:bg-blue-300 transition disabled:bg-gray-400 disabled:cursor-not-allowed">
        Add
      </button>
    </form>

    <div class="space-y-3 justify-between">
      @if (todos.length > 0) {
        @for (todo of todos; track $index) {
          <div class="flex items-center justify-between bg-gray-300 rounded border relative">
            <div class="flex items-center space-x-3 gap-4 w-full py-2 px-4">
              <input type="checkbox" [checked]="todo.completed" (change)="toggleCompletion(todo.id)"
                class="w-5 h-5 text-blue-600 rounded focus:ring-blue-500">
              
              <span
                class="ml-4 flex-grow text-lg text-gray-700"
                [class.line-through]="todo.completed"
                [class.text-gray-400]="todo.completed"
              >
              {{ todo.title }}
              </span>
              <button (click)="deleteTodo(todo.id)"
                class="text-red-500 hover:text-red-700 font-bold transition">&times;</button>
            </div>
          </div>
        }
      } @else {
        <div class="text-center text-gray-500 py-5">
          <p class="text-base">ยังไม่มี Todo รายการใด</p>
          <p class="text-sm">เพิ่มงานใหม่ด้านบน!</p>
        </div>
      }
      <!-- @if (todos.length > 0) {
        @for (todo of todos; track todo.id) {
          <div class="flex items-center justify-between p-4 bg-gray-50 rounded border">
            <div class="flex items-center space-x-3">
              <input 
                type="checkbox" 
                [checked]="todo.completed" 
                (change)="toggleCompletion(todo.id)"
                class="w-5 h-5 text-blue-600 rounded focus:ring-blue-500"
              >
              <span 
                [class.line-through]="todo.completed" 
                [class.text-gray-500]="todo.completed"
                class="text-gray-800"
              >
                {{ todo.title }}
              </span>
            </div>
            <button 
              (click)="deleteTodo(todo.id)"
              class="text-red-500 hover:text-red-700 px-3 py-1 rounded transition"
            >
              ลบ
            </button>
          </div>
        }
      } @else {
        <div class="text-center text-gray-500 py-8">
          <p>ยังไม่มี Todo รายการใด</p>
          <p class="text-sm">เพิ่มงานใหม่ด้านบน!</p>
        </div>
      } -->
    </div>
  </div>
</div>

<div class="container px-4 py-2 flex flex-col justify-center">
  <router-outlet />
</div>

